In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['pdf.fonttype'] =42
import matplotlib.ticker as ticker
import matplotlib.patches as mpatches
import seaborn as sns

In [2]:
df_rel = pd.read_csv("RelationshipsFromSurveys.csv")
df_rel.shape

(31918, 4)

In [3]:
df_rel.head()

   id.A  id.B           relationship survey.date
0    47     2            CloseFriend  2008-09-09
1     2     2            CloseFriend  2008-09-09
2    57     2            CloseFriend  2008-09-09
3    73     2  SocializeTwicePerWeek  2008-09-09
4    55     2  SocializeTwicePerWeek  2008-09-09

In [4]:
df_rel['survey.date'].value_counts()

2008-12-13    5597
2008-09-09    5447
2009-04-17    5402
2009-03-05    5334
2009-05-18    5186
2008-10-19    4952
Name: survey.date, dtype: int64

In [5]:
df_health = pd.read_csv("Health.csv")
df_health.head()

,user_id,current_weight,current_height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month
0,55,140.0,69.0,0.0,0.0,Below average,2.0,0.0,Never,2008.09
1,36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09
2,39,105.0,66.0,0.0,2.0,Average,1.0,0.0,Never,2008.09
3,37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09
4,72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09

In [6]:
df_health.groupby('user_id')['survey.month'].value_counts().head(10)

user_id  survey.month
1        2008.09         1
         2008.10         1
         2008.12         1
         2009.03         1
         2009.04         1
         2009.06         1
2        2008.09         1
         2008.10         1
         2008.12         1
         2009.03         1
Name: survey.month, dtype: int64

In [7]:
df_new = df_health[(df_health['survey.month'] == 2008.09) | (df_health['survey.month'] == 2009.06)]
df_new = df_new.set_index('user_id')
df_new.head()

,current_weight,current_height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month
user_id,,,,,,,,,
55,140.0,69.0,0.0,0.0,Below average,2.0,0.0,Never,2008.09
36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09
39,105.0,66.0,0.0,2.0,Average,1.0,0.0,Never,2008.09
37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09
72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09

In [8]:
#df_new.to_csv('health_oneyear.csv')

In [9]:
df = df_new.index.value_counts().reset_index()
df = df.loc[df.user_id == 1]
df.head()

    index  user_id
53     18        1
54     13        1
55     15        1
56     12        1
57     16        1

In [10]:
my_list = df['index'].tolist()
my_list

[18,
 13,
 15,
 12,
 16,
 17,
 80,
 19,
 25,
 30,
 32,
 38,
 79,
 41,
 50,
 51,
 53,
 55,
 63,
 75,
 76,
 77,
 39]

In [11]:
df_new = pd.read_csv('health_oneyear.csv')
df_new.head()

,user_id,current_weight,current_height,salads_per_week,veggies_fruits_per_day,healthy_diet,aerobic_per_week,sports_per_week,current_smoking,survey.month
0,55,140.0,69.0,0.0,0.0,Below average,2.0,0.0,Never,2008.09
1,36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09
2,39,105.0,66.0,0.0,2.0,Average,1.0,0.0,Never,2008.09
3,37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09
4,72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09

In [12]:
# df_new.loc[df_new['survey.month'] == 2008.09, "weight2008"] = df_new.current_weight
# df_new

In [13]:
# df_new.loc[df_new['survey.month'] == 2009.06, "weight2009"] = df_new.current_weight
# df_new

In [14]:
df_new2008 = df_new.loc[df_new['survey.month'] == 2008.09]
df_new2008.columns = ['user_id', 'weight2008', 'height2008', 'salads_week_2008', 'vegfru_day_2008', 'healthy_diet_2008', 'aerobic_week_2008', 'sports_week_2008', 'smoking_2008', 'survey_month_2008']
df_new2008.head()

,user_id,weight2008,height2008,salads_week_2008,vegfru_day_2008,healthy_diet_2008,aerobic_week_2008,sports_week_2008,smoking_2008,survey_month_2008
0,55,140.0,69.0,0.0,0.0,Below average,2.0,0.0,Never,2008.09
1,36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09
2,39,105.0,66.0,0.0,2.0,Average,1.0,0.0,Never,2008.09
3,37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09
4,72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09

In [15]:
df_new2009 = df_new.loc[df_new['survey.month'] == 2009.06]
df_new2009.columns = ['user_id', 'weight2009', 'height2009', 'salads_week_2009', 'vegfru_day_2009', 'healthy_diet_2009', 'aerobic_week_2009', 'sports_week_2009', 'smoking_2009', 'survey_month_2009']
df_new2009.head()

,user_id,weight2009,height2009,salads_week_2009,vegfru_day_2009,healthy_diet_2009,aerobic_week_2009,sports_week_2009,smoking_2009,survey_month_2009
69,7,140.0,65.0,1.0,1.0,Unhealthy,1.0,0.0,Never,2009.06
70,36,155.0,67.0,2.0,1.0,Unhealthy,0.0,4.0,Never,2009.06
71,49,135.0,65.0,0.0,1.0,Average,0.0,0.0,Once in a while,2009.06
72,6,145.0,68.0,1.0,5.0,Healthy,3.0,1.0,Never,2009.06
73,11,169.0,69.0,0.0,0.0,Unhealthy,1.0,0.0,Never,2009.06

In [16]:
df_year = df_new2008.merge(df_new2009, left_on='user_id', right_on='user_id')
df_year.head()

,user_id,weight2008,height2008,salads_week_2008,vegfru_day_2008,healthy_diet_2008,aerobic_week_2008,sports_week_2008,smoking_2008,survey_month_2008,weight2009,height2009,salads_week_2009,vegfru_day_2009,healthy_diet_2009,aerobic_week_2009,sports_week_2009,smoking_2009,survey_month_2009
0,36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09,155.0,67.0,2.0,1.0,Unhealthy,0.0,4.0,Never,2009.06
1,37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09,220.0,77.0,1.0,3.0,Healthy,3.0,3.0,Never,2009.06
2,72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09,140.0,62.0,0.0,1.0,Below average,0.0,0.0,Never,2009.06
3,11,180.0,69.0,0.0,1.0,Unhealthy,5.0,0.0,Never,2008.09,169.0,69.0,0.0,0.0,Unhealthy,1.0,0.0,Never,2009.06
4,21,240.0,75.0,0.0,1.0,Unhealthy,1.0,0.0,Never,2008.09,265.0,75.0,0.0,1.0,Unhealthy,1.0,0.0,Never,2009.06

In [31]:
df_year['weight_difference'] = df_year['weight2009'] - df_year['weight2008']
df_year['salads_difference'] = df_year['salads_week_2009'] - df_year['salads_week_2008']
df_year['vegfru_difference'] = df_year['vegfru_day_2009'] - df_year['vegfru_day_2008']
df_year['aerobic_difference'] = df_year['aerobic_week_2009'] - df_year['aerobic_week_2008']
df_year['sports_difference'] = df_year['sports_week_2009'] - df_year['sports_week_2008']
df_year.set_index('user_id').head()

,weight2008,height2008,salads_week_2008,vegfru_day_2008,healthy_diet_2008,aerobic_week_2008,sports_week_2008,smoking_2008,survey_month_2008,weight2009,...,healthy_diet_2009,aerobic_week_2009,sports_week_2009,smoking_2009,survey_month_2009,weight_difference,salads_difference,vegfru_difference,aerobic_difference,sports_difference
user_id,,,,,,,,,,,,,,,,,,,,,
36,150.0,67.0,2.0,1.0,Below average,3.0,3.0,Never,2008.09,155.0,...,Unhealthy,0.0,4.0,Never,2009.06,5.0,0.0,0.0,-3.0,1.0
37,220.0,77.0,2.0,5.0,Very healthy,5.0,5.0,Never,2008.09,220.0,...,Healthy,3.0,3.0,Never,2009.06,0.0,-1.0,-2.0,-2.0,-2.0
72,135.0,62.0,0.0,1.0,Unhealthy,0.0,0.0,Never,2008.09,140.0,...,Below average,0.0,0.0,Never,2009.06,5.0,0.0,0.0,0.0,0.0
11,180.0,69.0,0.0,1.0,Unhealthy,5.0,0.0,Never,2008.09,169.0,...,Unhealthy,1.0,0.0,Never,2009.06,-11.0,0.0,-1.0,-4.0,0.0
21,240.0,75.0,0.0,1.0,Unhealthy,1.0,0.0,Never,2008.09,265.0,...,Unhealthy,1.0,0.0,Never,2009.06,25.0,0.0,0.0,0.0,0.0

In [38]:
df_year[df_year['user_id'].isin([57,28,47,23,52,55,67,8,12,22,25,34,51,79])]['weight_difference'].mean()

4.5555555555555554

In [39]:
df_year[df_year['user_id'].isin([2])]['weight_difference'].mean()

-2.0

In [48]:
df_year[df_year['user_id'].isin([9, 27,57,7,11,31,24,52,16,21,28,63 ])]['weight_difference'].mean()

9.1999999999999993

In [49]:
df_year[df_year['user_id'].isin([4])]['weight_difference'].mean()

15.0

In [50]:
df_year[df_year['user_id'].isin([28,5,9,45,66,70 ])]['weight_difference'].mean()

28.333333333333332

In [51]:
df_year[df_year['user_id'].isin([5])]['weight_difference'].mean()

140.0

In [24]:
df_close = df_rel.loc[df_rel['relationship'] == 'CloseFriend']

In [46]:
df_close.groupby('id.B')['id.A'].value_counts().head(40)

id.B  id.A
1     61      6
      70      5
      28      3
2     2       5
      57      5
      28      4
      47      4
      23      3
      52      2
      55      2
      67      2
      8       1
      12      1
      22      1
      25      1
      34      1
      51      1
      79      1
3     28      5
4     9       6
      27      6
      57      6
      7       5
      11      5
      31      4
      24      3
      52      3
      16      2
      21      2
      28      1
      63      1
5     28      4
      5       3
      9       3
      45      3
      66      1
      70      1
6     28      6
      44      6
      46      6
Name: id.A, dtype: int64