In [5]:
import pandas as pd
import numpy as np
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['pdf.fonttype'] =42
import matplotlib.ticker as ticker
import matplotlib.patches as mpatches
import re

### the ratings

In [6]:
df1 = pd.read_csv("jester1.csv")
del df1['Unnamed: 0']
df1.head()

,total_number,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,NaN,NaN,NaN,NaN,NaN,-5.63,NaN,NaN,NaN
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,NaN,NaN,NaN,NaN,9.03,9.27,9.03,9.27,NaN,...,NaN,NaN,NaN,9.08,NaN,NaN,NaN,NaN,NaN,NaN
3,48,NaN,8.35,NaN,NaN,1.80,8.16,-2.82,6.21,NaN,...,NaN,NaN,NaN,0.53,NaN,NaN,NaN,NaN,NaN,NaN
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

In [7]:
df1.shape

(73421, 101)

In [8]:
#df1.dtypes

In [9]:
df2 = pd.read_csv("jester2.csv")
del df2['Unnamed: 0']
df2.head()

,total_number,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,62,NaN,NaN,NaN,NaN,0.21875,NaN,-9.28125,-9.28125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34,NaN,NaN,NaN,NaN,-9.68750,NaN,9.93750,9.53125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,NaN,NaN,NaN,NaN,-9.84375,NaN,-9.84375,-7.21875,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,82,NaN,NaN,NaN,NaN,6.90625,NaN,4.75000,-5.90625,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,NaN,NaN,NaN,NaN,-0.03125,NaN,-9.09375,-0.40625,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df2.shape

(50692, 151)

In [11]:
#df2.dtypes

## mean rates

In [12]:
df1.mean().sort_values(ascending=False).head(10)

total_number    56.337560
50               3.362593
89               3.348026
32               2.974698
36               2.917245
27               2.907989
35               2.775606
62               2.676263
72               2.632421
29               2.619510
dtype: float64

In [13]:
df2.mean().sort_values(ascending=False).head(10)

total_number    34.104967
53               3.714249
105              3.711070
89               3.606178
129              3.583135
35               3.560140
72               3.505117
32               3.504556
104              3.422973
68               3.386933
dtype: float64

In [14]:
df1['50'].count()

70449

In [15]:
df2['53'].count()

23101

## variability of rates

A standard deviation close to 0 indicates that the data points tend to be very close to the mean (also called the expected value) of the set, while a high standard deviation indicates that the data points are spread out over a wider range of values.

In [16]:
df1.std().sort_values(ascending=False).head()

total_number    29.015686
71               5.814151
2                5.627972
7                5.610902
41               5.522648
dtype: float64

In [17]:
df1.std().sort_values(ascending=False).tail()

32    4.620225
72    4.612236
36    4.515917
17    4.439184
50    4.412412
dtype: float64

In [18]:
df2.std().sort_values(ascending=False).head()

total_number    33.519225
124              6.082813
140              6.082453
58               6.079202
57               5.950808
dtype: float64

In [19]:
df2.std().sort_values(ascending=False).tail()

9    NaN
10   NaN
11   NaN
12   NaN
14   NaN
dtype: float64

In [20]:
# df1['1'].plot(kind='box')
# for column in df1.columns[:15]:
#     df1[column].plot(kind='box')

### number of votes per joke

In [21]:
df1.count().sort_values(ascending=False).head(10)

total_number    73421
17              73413
8               73411
20              73410
15              73406
19              73406
5               73405
13              73405
18              73404
7               73401
dtype: int64

In [22]:
df2.count().sort_values(ascending=False).head(10)

total_number    50692
7               50692
8               50692
13              50692
15              50692
16              50692
17              50692
18              50692
19              50692
89              25994
dtype: int64

In [ ]:
#df1.plot(kind='scatter', x='total_number', y='3')

### checking the jokes with regex

In [23]:
df_jokes = pd.read_csv("jester_items.csv")
pd.set_option('display.max_rows', 200)
df_jokes

     Number                                               Text
0         1  A man visits the doctor. The doctor says, I ha...
1         2  This couple had an excellent relationship goin...
2         3  Q. Whats 200 feet long and has 4 teeth?A. The ...
3         4  Q. Whats the difference between a man and a to...
4         5  Q. Whats O. J. Simpsons web address?A. Slash, ...
5         6  Bill and Hillary Clinton are on a trip back to...
6         7  How many feminists does it take to screw in a ...
7         8  Q. Did you hear about the dyslexic devil worsh...
8         9  A country guy goes into a city bar that has a ...
9        10  Two cannibals are eating a clown. One turns to...
10       11  Q. What do a hurricane, a tornado, and a redne...
11       12  A guy stood over his tee shot for what seemed ...
12       13  They asked the Japanese visitor if they have e...
13       14  The father was very anxious to marry off his o...
14       15  Q:What did the blind person say when given som...
15       16  Q. What is orange and sounds like a parrot?A. ...
16       17  How many men does it take to screw in a light ...
17       18  A dog walks into Western Union and asks the cl...
18       19  Q:If a person who speaks three languages is ca...
19       20  Whats the difference between a Macintosh and a...
20       21  Whats the difference between a used tire and 3...
21       22  A duck walks into a pharmacy and asks for a co...
22       23  Q:What is the Australian word for a boomerang ...
23       24  What do you get when you run over a parakeet w...
24       25  Two kindergarten girls were talking outside:on...
25       26  A guy walks into a bar and sits down next to a...
26       27  Bill Clinton returns from a vacation in Arkans...
27       28  A mechanical engineer, an electrical engineer,...
28       29  An old Scotsman is sitting with a younger Scot...
29       30  Q:Whats the difference between a lawyer and a ...
30       31  President Clinton looks up from his desk in th...
31       32  A man arrives at the gates of heaven. St. Pete...
32       33  What do you call an American in the finals of ...
33       34  Out in the backwoods of some midwestern state,...
34       35  An explorer in the deepest Amazon suddenly fin...
35       36  A guy walks into a bar, orders a beer and says...
36       37  A Jewish young man was seeing a psychiatrist f...
37       38  May I take your order? the waiter asks.Yes, ho...
38       39  What is the difference between men and women?A...
39       40  How many Irishmen does it take to change a lig...
40       41  What does an atheist say during an orgasm?Oh D...
41       42  Two men are discussing the age old question:wh...
42       43  Arnold Schwarzenegger and Sylvester Stallone a...
43       44  A horse walks into a bar. The bartender asks:b...
44       45  A boy comes home from school and tells his mot...
45       46  A couple has been married for 75 years. For th...
46       47  There was an engineer who had an exceptional g...
47       48  The graduate with a Science degree asks, Why d...
48       49  Three engineering students were gathered toget...
49       50  A guy goes into confession and says to the pri...
50       51  Did you hear that Clinton has announced that t...
51       52  Q:What do Monica Lewinsky and Bob Dole have in...
52       53  One Sunday morning William burst into the livi...
53       54  The Pope dies and, naturally, goes to heaven. ...
54       55  A woman has twins, and gives them up for adopt...
55       56  A man and Cindy Crawford get stranded on a des...
56       57  Why are there so many Joness in the phone book...
57       58  How many teddy bears does it take to change a ...
58       59  The Chukcha (Russian Eskimo) phones up the Rus...
59       60  What did the Buddhist say to the hot dog vendo...
60       61  During a recent publicity outing, Hillary snea...
61       62  A group of managers were given the assignment ...
62       63  An engineer, a physicist and a mathematician a...
63       64  What is the rallying cry of the International ...
64       65  Two rednecks were seated at the end of a bar w...
65       66  A lawyer opened the door of his BMW, when sudd...
66       67  Once upon a time, two brooms fell in love and ...
67       68  A man piloting a hot air balloon discovers he ...
68       69  This guys wife asks, Honey, if I died would yo...
69       70  Employer to applicant:In this job we need some...
70       71  At a recent Sacramento PC Users Group meeting,...
71       72  On the first day of college, the Dean addresse...
72       73  Q:What is the difference between George Washin...
73       74  Q:How many stalkers does it take to change a l...
74       75  Q:Do you know the difference between an intell...
75       76  There once was a man and a woman that both got...
76       77  If pro- is the opposite of con-, then congress...
77       78  Q:Whats the difference between the government ...
78       79  Q:Ever wonder why the IRS calls it Form 1040?A...
79       80  Hillary, Bill Clinton and the Pope are sitting...
80       81  An Asian man goes into a New York CityBank to ...
81       82  Q:How do you keep a computer programmer in the...
82       83  What a woman says:This place is a mess! Cmon,y...
83       84  Q:What is the difference between mechanical en...
84       85  Q:How many presidents does it take to screw in...
85       86  A neutron walks into a bar and orders a drink....
86       87  A man who recently completed a routine physica...
87       88  A Czechoslovakian man felt his eyesight was gr...
88       89  A radio conversation between a US naval ship a...
89       90  Q:How many programmers does it take to change ...
90       91  A Panda walks into a bar, sits down at a table...
91       92  Early one morning a mother went to her sleepin...
92       93  Reaching the end of a job interview, the human...
93       94  Two atoms are walking down the street when one...
94       95  Just a thought.Before criticizing someone, wal...
95       96  Two attorneys went into a diner and ordered tw...
96       97  A teacher is explaining to her class how diffe...
97       98  Age and Womanhood: 1. Between the ages of 13 a...
98       99  A bus station is where a bus stops.A train sta...
99      100  Q:Whats the difference between greeting a quee...
100     101  Did you hear about the Buddhist who refused No...
101     102  A man escaped jail by digging a hole from his ...
102     103  Nurse:Doctor, Doctor, theres an invisible man ...
103     104  As a pre-med student, I had to take a difficul...
104     105  A couple of hunters are out in the woods in th...
105     106  An engineer dies and reports to the pearly gat...
106     107  (A) The Japanese eat very little fat and suffe...
107     108  A man approached a very beautiful woman in a l...
108     109  Do you believe in life after death? the boss a...
109     110  One day, a professor was giving a big test to ...
110     111  A new business was opening and one of the owne...
111     112  When my three-year-old son opened the birthday...
112     113  The new employee stood before the paper shredd...
113     114  Sherlock Holmes and Dr. Watson go on a camping...
114     115  A lady bought a new Lexus. It cost a bundle. T...
115     116  A man in a hot air balloon realized he was los...
116     117  A man joins a big corporate empire as a traine...
117     118  A man goes into a drug store and asks the phar...
118     119  One day the first grade teacher was reading th...
119     120  Judy was having trouble with her computer, so ...
120     121  A drunk staggers into a Catholic Church, enter...
121     122  An astronomer, a physicist and a mathematician...
122     123  When most people claim to be killing time, its...
123     124  Person 1:Hey, wanna hear a great knock-knock j...
124     125  An American tourist goes into a restaurant in ...
125     126  A Briton, a Frenchman and a Russian are viewin...
126     127  A little boy goes to his dad and asks, What is...
127     128  An American, a Scot and a Canadian were in a t...
128     129  A group of girlfriends is on vacation when the...
129     130  An old man goes to the doctor for his yearly p...
130     131  A guy had been feeling down for so long that h...
131     132  Mickey Mouse is having a nasty divorce with Mi...
132     133  The new employee stood before the paper shredd...
133     134  An artist asked the gallery owner if there had...
134     135  A guy walked past a mental hospital and heard ...
135     136  A man went to apply for a job. After filling o...
136     137  Deep within a forest, a little turtle began to...
137     138  WASHINGTON (Reuters) - A tragic fire on Monday...
138     139  In a Veterans Day speech, President Bush vowed...
139     140  Chuck Norris calendar goes straight from March...
140     141  Jack Bauer can get McDonalds breakfast after 1...
141     142  One day, three men went to a shrine to ask the...
142     143  A preist, a 12-year-old kid, and the smartest ...
143     144  A man is driving in the country one evening wh...
144     145  A blonde, brunette, and a red head are all lin...
145     146  America: 8:00 - Welcome to work!, 12:00 - Lunc...
146     147  It was the day of the big sale. Rumors of the ...
147     148  Recently a teacher, a garbage collector, and a...
148     149  A little girl asked her father, Daddy? Do all ...
149     150  In an interview with David Letterman, Carter p...

In [24]:
pd.options.display.max_colwidth = 1000000

In [25]:
my_regex = r"\b doctor \b"
doctor = [joke for joke in df_jokes['Text'] if re.search(my_regex, joke,re.IGNORECASE)]
len(doctor)

4

In [26]:
my_regex = r"\b no \b"
no = [joke for joke in df_jokes['Text'] if re.search(my_regex, joke,re.IGNORECASE)]
len(no)

14

In [27]:
my_regex = r"\b man \b"
man = [joke for joke in df_jokes['Text'] if re.search(my_regex, joke,re.IGNORECASE)]
len(man)

28

In [28]:
my_regex = r"\b woman \b"
woman = [joke for joke in df_jokes['Text'] if re.search(my_regex, joke,re.IGNORECASE)]
len(woman)

7

In [29]:
my_regex = r"\b toilet \b"
toilet = [joke for joke in df_jokes['Text'] if re.search(my_regex, joke,re.IGNORECASE)]
len(toilet)

1

# Find the top and bottom, build a new dataset and apply the above

## Using fuzzywuzzy